.box {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    background: #FFF;
    padding: 0;
    border-radius: 4px;
    height: 100%;
}

.box .header { 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px; 
    padding: 0 15px; 
    background: #f7f6f2;
    border: solid 1px #fff;
    border-top-left-radius: 4px; 
    border-top-right-radius: 4px; 
}

.box .header .title{
    color: #58595b;
    border-bottom: solid 3px #ff4443;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.box .header .info{
    align-self: center;
    font-size: 9.5px;
    font-weight: 500;
    color: #666666;
}

.box .items_ingresos {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.box .items_ingresos .item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 2.1em 15px;
    cursor:pointer;
}

.box .items_ingresos .item.notSelected {
    opacity: 50%;
}

.box .items_ingresos .item:nth-child(2) {
    border-top: dotted 1px #999;
    border-bottom: dotted 1px #999;
    margin: auto 0;

}

.box .items_ingresos .item .iconIncome {
    width: 30px;
}

.box .items_ingresos .item strong {
    flex: 1;
    font-size: 25px;
    text-align: right;
    font-weight: bolder;
    color: #58595b;
}

@media (min-width: 1100px) { .box .items_ingresos .item strong { font-size: 30px; } }

.box .items_ingresos .item span { 
    flex: 1; 
    font-size: 11.24px; 
    display: flex; 
    flex-direction: column; 
}

.box .items_ingresos .item span .title { 
    font-weight: bold; 
    color: #ef3e48; 
}

.box .items_ingresos .item span .detail { 
    color: #999999; 
}