.THIS {
    margin-top: 20px;
    padding: 15px 30px 30px 30px;
}

.THIS.green-container {
    border: none !important;
    border-radius: 4px !important;
    background-color: #00a08e !important;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
}