.box {
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 10%);
    background: #FFF;
    border-radius: 4px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    gap: 30px;
}

.box .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box .body .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.box .buttons .button{
    color: white;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.box .buttons .button.orange{
    background-color: #faaa00;
}

.box .buttons .button.grey{
    background-color: grey;
}

*{
    font-family: Roboto;
}

h1{
    font-size: 33px;
    font-weight: 600;
    color: #3c3c3c;
    margin-bottom: 15px;
}

p{
    color: #666666;
    font-size: 18px;
}

button{
    font-size: 17px;
}