.card {
    background-color: #ffffff;
    will-change: transform;
    overflow:  hidden;
    box-shadow: 2px 2px 3px 3px #EBEBEB;
    min-height: 60px;
    vertical-align: middle;
    border-radius: 6px;
    border: solid 1px #FFFFFF;
}

.container {
    padding: 10px 30px 10px 30px;
}

.icon {
    max-width: 35px;
    max-height: 35px;
    vertical-align: middle;
    border-style: none;
}

.icon-small {
    max-width: 25px;
    max-height: 25px;
    vertical-align: middle;
    border-style: none;
}