.THIS {
  font-family: "Montserrat";
  padding: 0px;
  padding-top: 30px;
}

.THIS .tag {
  min-height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f1f5;
  margin-top: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
  border-radius: 0.25rem !important;
  text-transform: uppercase;
}

.THIS .tag .value-gray {
  font-family: "Montserrat Regular";
  color: #3e4145;
  font-weight: 300;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 10pt;
  white-space: nowrap;
  font-weight: bold;
}

.THIS {
  font-family: "Montserrat";
}

.THIS.Cuidarnos .label {
  font-family: "Montserrat";
}

.THIS .uppercase {
  text-transform: uppercase;
}
/*
.THIS .label {
    color: #999999;
    font-size: 10pt;
    font-weight: bold;
}

.THIS .value {
    color: #999999;
    font-family : 'Montserrat';
    font-weight: 300;
}
*/

.THIS.Cuidarnos .label {
  color: #999999;
  font-family: "Montserrat";
  font-weight: 300;
}

.THIS.Cuidarnos .value {
  color: #333333;
  font-size: 11pt;
  font-weight: bold;
}
.THIS.Cuidarnos .highlight {
  color: #333333;
  font-size: 18pt;
  font-weight: bold;
}

.THIS.Cuidarnos .value.islink {
  text-decoration: underline;
}

.THIS.Cuidarnos .value.islink:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #0069AB;
}

.THIS .capitalize {
  text-transform: capitalize;
}

.THIS .gray {
  color: #999999 !important;
}

.THIS.Prosumia .blue {
  color: #ef3e48 !important;
}

.THIS.Cuidarnos .blue {
  /*color: #1cdcbb !important; */
}

.THIS.Cuidarnos .cuidarnostitle {
  font-size: 20px;
  margin: 0 auto;
  background: #999999;
  color: aliceblue;
  width: 100%;
}

.THIS .link {
  text-decoration: none;
}

.THIS .link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.THIS .font20 {
  font-size: 20pt;
}

.THIS .font17 {
  font-size: 16pt;
}

.THIS .font13 {
  font-size: 12pt;
}

.THIS .font11 {
  font-size: 10pt;
}