.THIS {
    margin-top : 20px;
    padding : 0px;

}

.THIS .header {
    background-color: #ffffff;
    height: 60px;
    padding: 20px 30px 30px 30px;
    border-bottom: solid 1px #ebebeb;
}

.THIS .header .title {
    font-family: 'Heebo';
    color: #b7d2e5;
    font-size: 17px;
    padding-left: 10px;
}

.THIS .separator {
    border : solid 1px #CCCCCC;
}

.THIS .icon {
    max-width: 25px;
    max-height: 25px;
    vertical-align: middle;
    border-style: none;
    margin-bottom: 7px;
}

.THIS .label {
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size : 10pt;
    color: #999999 !important;
}

.THIS .value {
    font-family: 'Heebo';
    font-weight: 300;
    font-size : 12pt;
    color: #676666 !important;
}

.THIS .value.blue {
    color: #2f75bb !important;
}