.box {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    background: #FFF;
    padding: 0;
    border-radius: 4px;
    height: 100%;
}

.box .header { 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px; 
    padding: 0 15px; 
    background: #f7f6f2;
    border: solid 1px #fff;
    border-top-left-radius: 4px; 
    border-top-right-radius: 4px; 
}

.box .header .title{
    color: #58595b;
    border-bottom: solid 3px #ff4443;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.box .items_actividades_economicas {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 20px 20px;
}

.box .items_actividades_economicas .item { 
    flex: 0 1 50%; 
    display: flex; 
    gap: 15px; 
    height: 35px; 
    align-items: center; 
    font-size: 11.5px; 
    color: #999999; 
    padding: 0 20px 0 0; 
    cursor: pointer;
}

.box .items_actividades_economicas .item.notSelected {
    opacity: 50%;
}

.box .items_actividades_economicas .item:hover{
    text-decoration: underline;
}

.box .items_actividades_economicas .item .icon { width: 10px; }

.box .items_actividades_economicas .item strong { margin: 0 0 0 auto; color: #4a484d; }