.THIS {
    width : 100%;
}

.THIS .icon_min {
    max-width: 32px;
    max-height: 32px;
    vertical-align: middle;
    border-style: none;
    margin-right: 15px
}

.THIS .socialname {
    font-family: 'Roboto Condensed';
    color: #999999;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
}
.THIS .socialname span { 
	padding-left : 10px;
}
.THIS .socialvalue {
	font-family: 'Heebo';
    font-weight: 300;
    font-size: 12pt;
    color: #2f75bb;
}
.THIS .socialvalue a { 
    display: inline-block;
    color: #2f75bb;
}
.THIS .socialvalue div { 
    
}