@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
.THIS {
    font-family: "Roboto";
    color: #3e4954;
    font-size: 12pt;
    font-weight: 300;
    text-align: center;
    border-bottom : solid 1px #D8DBDD;
}

.THIS.Prosumia .nav-item { text-align: center; margin-left: 30px; display: inline-block; padding: 20px 7px;}
.THIS.Prosumia .nav-item:hover{cursor: pointer; border-bottom: solid 1px #EF3E48; color: #3e4954; padding-bottom: 19px;}
.THIS.Prosumia .nav-item.selected { border-bottom: solid 3px #EF3E48; padding-bottom: 17px}
.THIS.Prosumia .nav-item.selected:hover { border-bottom: solid 3px #EF3E48; padding-bottom: 17px; cursor: default}

.THIS.Argentina .nav-item { text-align: center; margin-left: 30px; display: inline-block; padding: 20px 7px;}
.THIS.Argentina .nav-item:hover{cursor: pointer; border-bottom: solid 1px #EF3E48; color: #3e4954; padding-bottom: 19px;}
.THIS.Argentina .nav-item.selected { border-bottom: solid 3px #EF3E48; padding-bottom: 17px}
.THIS.Argentina .nav-item.selected:hover { border-bottom: solid 3px #EF3E48; padding-bottom: 17px; cursor: default}

.THIS.Cuidarnos .nav-item { color: #CCCCCC; text-align: center; margin-left: 30px; display: inline-block; padding: 20px 7px;}
.THIS.Cuidarnos .nav-item:hover{cursor: pointer; border-bottom: solid 1px #1cdcbb; color: #3e4954; padding-bottom: 19px;}
.THIS.Cuidarnos .nav-item.selected { color: #3e4954; border-bottom: solid 3px #1cdcbb; padding-bottom: 17px}
.THIS.Cuidarnos .nav-item.selected:hover {  color: #3e4954; border-bottom: solid 3px #1cdcbb; padding-bottom: 17px; cursor: default}