@font-face {
  /*
      font family is used to give a name to the custom font,
       you use this for referencing the custom font later
  */
  font-family: "Roboto";
  /*
      This is the location of the Custom Font, note, I have stored in a ZIP file
   */
  src: url('/s/sfsites/c/resource/Communities/SALESFORCE/Fonts/Roboto/Roboto-Regular.ttf') format('TrueType');
}
* { box-sizing: border-box; margin: 0; padding: 0; position: relative; }

.all-page { height: 100%; 
  background: #f7f7f7; padding: 15px; margin: 0 auto; }

@media (min-width: 992px) {
   .all-page { width: 960px; }
}

@media (min-width: 1200px) {
   .all-page { width: 1140px; }
}

.all-page.CRM { height: 100%; 
  background: transparent; padding: 15px; margin: 0 auto; }

.admin-link { text-decoration: underline; color: #58595b !important; }

main { padding: 15px; margin: 0 auto; }

@media (min-width: 992px) { main { width: 960px; } }

@media (min-width: 1200px) { main { width: 1140px; } }

.spinner-container {
position: absolute;
z-index: 2;
background-color: grey;
opacity: 0.3;
width: 100%;
height: 100%;
min-width: 300px;
min-height: 300px;
display: flex;
align-items: center;
justify-content: center;
}

.icon img { max-width: calc(45px - 20px); max-height: calc(45px - 20px); }

.box { box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1); background: #FFF; padding: 0; border-radius: 4px; }

.box .header { height: 70px; display: flex; flex-direction: column; justify-content: center; border: navajowhite; padding: 0 30px; font-size: calc(14px + 2px); color: #58595b; }

.box .container { padding: 30px; }

.box.no-padding { padding: 0; }

.box .header a { justify-self: flex-end; align-self: center; margin: 0 0 0 auto; }

.box .header a img { height: 18px; }

.columns { padding: 24px 0 0; gap: 22px; display: flex; flex-direction: column; }

@media (min-width: 992px) { .columns { gap: 30px; } }

@media (min-width: 992px) { .columns { flex-direction: row; } }

@media (min-width: 992px) { .columns .column.left { width: 300px; } }

.columns .column.right { flex: 1; display: flex; flex-direction: column; gap: 15px; }

@media (min-width: 992px) { .columns .column.right { gap: 30px; } }

.box.line-top:after { content: ""; width: 45px; height: 3px; display: block; position: absolute; left: 15px; top: 0; }

.box.line-top.orange:after { background: #ff4443; }

.box.line-top.orange:after { background: #f3bb59; }

.box.line-top.red:after { background: #ff4443; }

.box.territorios_resume { padding: 15px; }

.box.territorios_resume h2 { margin: 0 0 1em; text-align: center; font-size: 13px; color: #58595b; font-weight: normal; }

.box.territorios_resume h2 strong { display: block; font-size: 27px; color: #58595b; font-weight: bold; }

.box_container { display: flex; flex-wrap: wrap; flex-direction: column; gap: 15px; }

@media (min-width: 992px) { .box_container { flex-direction: row; gap: 30px; } }

.box_container .icon { width: 45px; height: 45px; display: flex; justify-content: center; align-items: center; border-radius: 50%; background: #f7f7f7; }

.box_container .box { display: flex; flex-wrap: wrap; gap: 20px; padding: 25px 15px 25px; align-items: center; font-size: 14px; }

.box_container .box .title { color: #58595b; font-weight: bold; }

.box_container .box .value { font-size: calc(1em + 1px); color: #f3bb59; line-height: 1.5; text-decoration: underline; }

.box_container .box:nth-child(2) { flex: 1; }

@media (min-width: 992px) { .box_container .box:nth-child(2) { flex: 1; } }

.box_container .box:nth-child(2) .item:nth-child(3) { flex: 1; flex-basis: 100%; }

@media (min-width: 992px) { .box_container .box:nth-child(2) .item:nth-child(3) { flex: 0; margin: 0 auto; } }

.box_container .box:nth-child(2) .item:nth-child(3) .title { color: #999999; font-weight: normal; }

.box_container .box:nth-child(2) .item:nth-child(3) .value { font-size: calc(1em + 1px); color: #f3bb59; line-height: 1.5; text-decoration: none; white-space: nowrap; width: 100%; overflow: hidden; text-overflow: ellipsis; }

@media (min-width: 992px) { 
  aside { 
    position: sticky;
    top: 10px;
    display: inline-block;
    width: 300px; }

  .stickyMarginHelper {
    /*busca ocultar el resto de los componentes que escrolean por detras de la barra de filtros*/
    background-color: #f7f7f7;
    position: sticky;
    z-index: 1;
    height: 10px;
    top:0px;
    margin-bottom: 0px;
  }

}

aside .info { padding: 1em; font-size: 12px; color: #999999; font-weight: bold; text-align: center; }

aside .info a { color: #999; text-decoration: none; }

aside .info a svg { width: 10px; }

aside .info a svg path { fill: #999; }

.territorios_resume .item.location { border-bottom: solid 1px #e9e9e9; }

.territorios_resume .item.habitantes { margin: calc(1em - 1px) 0 1.5em; display: flex; flex-direction: column; align-items: center; justify-content: center; color: #58595b; }

.territorios_resume .item.habitantes strong { font-size: 33.5px; }

.territorios_resume .item.habitantes small { font-size: 16px; color: #999; }

.territorios_resume .item.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.territorios_resume .item.stats .stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.territorios_resume .item.stats .stat small { color: #999999; font-size: 12px; }

.territorios_resume .item.stats .stat strong { font-size: 13px; color: #3e4145; }

.territorios_resume .item.stats .stat span { font-size: 13px; font-weight: bold; }

.territorios_resume .item.stats .woman span { color: #257e2c; }

.territorios_resume .item.stats .men span { color: #257e2c; }

.territorios_resume .item.stats .other span { color: #257e2c; }


.mainBody { display: flex; flex-direction: column;}

.mainBody > * {
  margin-bottom: 30px;
}

@media (min-width: 992px) { 
  .mainBody {
    margin-top: 0; 
    display: inline-block; 
    width: calc(100% - 300px - 40px); 
    margin-left: 30px; 
    vertical-align: top; 
  }
}

.mainBody .filterComponent{
  position: sticky;
  z-index: 1;
  top: 0px;
  margin-top: 30px;
  margin-bottom: 0px;
}

@media (min-width: 992px) { 
  .mainBody .filterComponent{
    top:10px;
    margin-top: 0px;
  }
}

.mainBody .map .header { display: flex; flex-direction: row; align-items: flex-end; border-top-left-radius: 4px; border-top-right-radius: 4px; background: #f7f6f2; height: 70px; padding: 0 15px; font-size: calc(14px + 2px); color: #58595b; border: solid 1px #fff; justify-content: flex-start; gap: 15px; }

.mainBody .map .header .title { padding: 0 0 calc( (70px - 1.2em - 3px) / 2); border-bottom: solid 3px #a6a5a5; color: #b7b7b5;}

.mainBody .map .header .title.active { color: #58595b; border-bottom: solid 3px #ff4443; }

.mainBody .map .header .title:hover { color: #58595b; border-bottom: solid 3px #ff4443; }

.mainBody .map .container { padding: 1px; }

.mainBody .map .map_container { height: 285px; width: calc(100% - 6px); margin: 0 auto 3px; background: #f7f7f7; }

.mainBody .map_locations { margin-top: -22px; }

.mainBody .map_locations .items { display: flex; flex-wrap: wrap; }

.mainBody .map_locations .items .item { flex: 0 1 50%; display: flex; gap: 15px; height: 2em; align-items: center; font-size: 11.5px; color: #999999; padding: 0 15px 0 0; }

.mainBody .map_locations .items .item svg { width: 10px; }

.mainBody .map_locations .items .item svg path { fill: #4a484d; fill-rule: evenodd; }

.mainBody .map_locations .items .item strong { margin: 0 0 0 auto; color: #4a484d; }

.mainBody .map_locations .items .item:hover { cursor: pointer; }

.mainBody .map_locations .items .item:hover svg path { fill: #ff4443; }

.mainBody .map_locations .items .item a, .mainBody .map_locations .items .item a:active, .mainBody .map_locations .items .item a:hover { text-decoration: none; color: #999999; }

.mainBody .map_locations { margin-top: -22px; }

.mainBody .map_locations .items { display: flex; flex-wrap: wrap; }

.mainBody .map_locations .items .item { flex: 1 1 100%; display: flex; gap: 15px; height: 2em; align-items: center; font-size: 11.5px; color: #999999; padding: 1em 15px 1em 0; }

@media (min-width: 992px) { 
  .mainBody .map_locations .items .item { flex: 0 1 50%; }
}

.mainBody .map_locations .items .item svg { width: 10px; }

.mainBody .map_locations .items .item svg path { fill: #4a484d; fill-rule: evenodd; }

.mainBody .map_locations .items .item strong { margin: 0 0 0 auto; color: #4a484d; }

.mainBody .map_locations .items .item:hover { cursor: pointer; }

.mainBody .map_locations .items .item:hover svg path { fill: #ff4443; }

.mainBody .map_locations { margin-top: -22px; }

.mainBody .map_locations .items { display: flex; flex-wrap: wrap; }

.mainBody .map_locations .items .item { flex: 1 1 100%; display: flex; gap: 15px; height: 2em; align-items: center; font-size: 11.5px; color: #999999; padding: 1em 15px 1em 0; }

@media (min-width: 992px) { .mainBody .map_locations .items .item { flex: 0 1 50%; } }

.mainBody .map_locations .items .item svg { width: 10px; }

.mainBody .map_locations .items .item svg path { fill: #4a484d; fill-rule: evenodd; }

.mainBody .map_locations .items .item strong { margin: 0 0 0 auto; color: #4a484d; }

.mainBody .map_locations .items .item:hover { cursor: pointer; }

.mainBody .map_locations .items .item:hover svg path { fill: #ff4443; }

.mainBody .ingresosWrapper { display: flex; gap: 15px; flex-wrap: wrap; }

.mainBody .ingresosWrapper > * { flex: 1 1 100%; }

@media (min-width: 992px) { .mainBody .ingresosWrapper > * { flex: 1 1 calc( 40% - 7.5px); } }

.iconTerritories { width: 10px; }
.iconMarker { width: 10px; }