.THIS {
    margin-top : 25px;
    padding : 0px;

}

.THIS .header {
    background-color: #ffffff;
    height: 60px;
    padding: 20px 30px 30px 30px;
    border-bottom: solid 1px #ebebeb;
}

.THIS .header .title {
    font-family: 'Poppins';
    color: #333333;
    font-weight: 300;
    font-size: 14pt;
}

.THIS .separator {
    border : solid 1px #CCCCCC;
}

.THIS .icon {
    max-width: 25px;
    max-height: 25px;
    vertical-align: middle;
    border-style: none;
}

.THIS .label {
    text-transform: uppercase;
    font-family: 'Poppins';
    font-weight: 200;
    font-size : 10pt;
    color: #999999 !important;
}

.THIS .value {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size : 12pt;
    color: #676666 !important;
}

.THIS .value.green {
    color: #00a08e !important;
}