.THIS {
    color: #000000;
}

.THIS .slds-input__icon {
   margin-top: -.8rem;
}
 
.THIS .result-value {
    font-family: 'Heebo';
    font-weight: 300;
    font-size: 16px;
    color: rgb(53, 64, 81);
    padding-left: 10px;
}

.THIS .result-type {
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 11px;
    color: rgb(153, 153, 153);
	text-transform: uppercase;
    padding-right: 10px;
    padding-top: 5px;
}

.THIS input {
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    padding-left: 20px;
    font-family: 'Heebo';
    font-weight: 300;
    font-size: 16pt;
    color: #354051;
}

.THIS ::placeholder {
    font-family: 'Heebo';
    font-weight: 300;
    font-size: 16pt;
    color: #999999;
}

.THIS input:focus,
.THIS textarea:focus,
.THIS select:focus {
    outline-offset: 0px !important;
    outline: none !important;
}

.THIS .search-icon {
    width: 15px;
    height: 15px;
    margin-top: 17px;
}

.THIS .guide {
    display: inline-block; 
    font-family: 'Roboto Condensed'; 
    font-size: 9pt; color: #666666;
    margin-right: -1px; 
    padding-left: 27px; 
    margin-top: 17px;
}

.THIS li {
    height: 45px;
}

.THIS li > div {
    height: 100%; 
    padding-top: 9px !important;
}

@media only screen and (max-width: 768px) {
    .THIS .search-bar-container {
        height: 50px;
        background-color: #ffffff;
        border-radius: 6px;
        width: 90vw;
    }
    
    .THIS input {}
    
}

@media only screen and (min-width: 768px) {
    .THIS .search-bar-container {
        height: 50px;
        background-color: #ffffff;
        border-radius: 6px;
        width: 600px;
        border: solid 1px #e4e4e7;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    }
    
    .THIS input {width: 415px;}
}