.THIS {
}

.THIS .card{
    background-color: #ffffff;
    border: solid 1px rgb(183, 210, 229);
    will-change: transform;
    overflow:  hidden;
    min-height: 100px;
    vertical-align: middle;
    border-radius: 6px;
}

/* Special classes for small devices */
@media only screen and (max-width: 768px) {
    .THIS {padding: 0 15px}
    
    .THIS.floating{
        position: relative;
        top: -140px;
        max-width: 1140px;
        margin: auto;
    }
    
    .THIS > div:nth-child(2) {margin-top: 25px;}
}

/* Special classes for big devices */
@media only screen and (min-width: 768px) {
    .THIS.territory-map {
        margin-top: -32px;
        box-shadow: 0px 13px 36px 0px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 5
    }
    
    .THIS.floating{
        position: relative;
        top: -500px;
        max-width: 1140px;
        margin: auto;
    }
    
    .THIS > div:nth-child(2) {margin-top: 25px;}
}