.THIS {
    font-family : 'Roboto Condensed', sans-serif;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fc;
    margin-top: 15px;
    margin-right: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: .25rem !important;    
    border: 1px solid #dee2e6 !important;
}

.THIS .label {
    font-weight: bold;
    color: #999999;
    font-size: 12pt;
}

.THIS .value-blue {
    font-family : 'Heebo';
    color: #229fda;
    font-weight: 300;
    margin-left: 5px;
    font-size: 12pt;
}

.THIS .value-gray {
    font-family : 'Heebo';
    color: gray;
    font-weight: 300;
    margin-left: 5px;
    font-size: 12pt;
}