.THIS {
    margin-bottom : 15px;
    font-family: 'Roboto Condensed','sans-serif';
    max-width: 1140px; 
    margin: auto;
}

.THIS .card {
    background-color: #ffffff;
    will-change: transform;
    border-radius: 6px;
    overflow:  hidden;
    min-height: 100px;
    display: flex;
    vertical-align: middle;
    box-shadow: 0px 1px 29px 0px rgba(0, 0, 0, 0.07);
}

@media only screen and (max-width: 768px) {
    .THIS {
        padding: 0 15px
    }
}

/* Special classes for big devices */
@media only screen and (min-width: 768px) {
    .THIS {}
}