.tileHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tileHolder .tile { 
    flex: 0 1 50%; 
    display: flex; 
    gap: 15px; 
    height: 35px; 
    align-items: center; 
    font-size: 11.5px; 
    color: #999999; 
    padding-left: 15px; 
    padding-right: 15px;
}
.tileHolder .tile:hover {
    cursor: pointer;
    text-decoration: underline;
} 
.tileHolder .tile strong {
    margin: 0 0 0 auto; color: #4a484d;
}
.tileHolder .tile .icon {
    width: 10px;
}