.THIS {
    color: #999999;
    margin-top: 25px;
}

.THIS .header {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    padding-bottom: 15px;
}

.THIS .searchBox {
    padding: 15px 20px;
    background-color: #2f75bb;
    border-radius: 4px;
    box-shadow: 0px 1px 29px 0px rgba(0, 0, 0, 0.3);
}

.THIS .not-selected {color: #cccccc !important;}
.THIS .list-container {padding-top: 25px; border: solid 1px #ebebeb; border-top: none;}
.THIS .territory {color: #666666;}
.THIS .search {border-radius: 5px;}

.THIS .search INPUT:focus,.THIS .search textarea:focus,.THIS .search select:focus {
    outline-offset: 0px !important;
    outline: none !important;
}

.THIS .slds-input:focus, .THIS .slds-input:active {
    box-shadow: none;
}

.THIS .search INPUT { 
    border: none;
    height: 100%;
    width: 75%;
    background-color: #2f75bb;
    color: #ffffff;
    font-family: 'Roboto Condensed';
    font-size: 11pt;
}

.THIS ::placeholder {
    color: #ffffff;
    font-family: 'Roboto Condensed';
    font-size: 11pt;
}

@media only screen and (min-width: 48em) {
    .THIS .territories {
        height:50.67vh;
    }
}

@media only screen and (max-width: 48em) {
    .THIS .territories {
        max-height:300px;
    }
}

.THIS .territories.empty { 
    height: calc(50.67vh + (32px));
    text-align: center; 
    align-items: center; 
}


.THIS .empty-card-text {
    font-family: 'Heebo';
    color: #b2b2b2;
    font-size: 11pt;
}

.THIS .territories::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

.THIS .territories::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.THIS .territories::-webkit-scrollbar-track {
    border-radius: 10px;
}

.THIS .big-icon {
    max-width: 75px; 
    max-height: 75px; 
}

.THIS .search-icon {
    height: 15px;
    width: 15px;
}

/* Special classes for small devices */
@media only screen and (max-width: 768px) {
    .THIS .header {color: #666666;}
    .THIS .test{
        display: none;
    }
}

/* Special classes for big devices */
@media only screen and (min-width: 768px) {
    .THIS {}
    .THIS .test{
        margin-top: -40px;
        width: 100%;
        height: 40px;
        background: linear-gradient(to bottom, transparent, white);
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 80%);
        content: '';
        position: relative;
        border: solid 1px #ebebeb;
        border-top: none;
    }
}