.THIS {
    padding: 25px 0 30px 20px;
}

.THIS .icon {
    max-width: 35px;
    max-height: 35px;
    vertical-align: middle;
    border-style: none;
    margin-top: 8px;
}

/* Special classes for small devices */
@media only screen and (max-width: 768px) {
    .THIS {padding-bottom: 20px; margin-top : 15px;}
    .THIS > div {margin-bottom: 15px;}
}

/* Special classes for big devices */
@media only screen and (min-width: 768px) {
    .THIS {margin-top : 20px;}
    .THIS .l-mr-15{margin-right: 15px}
}