.THIS {
    font-family: 'Heebo';
    color: #3e4954;
    font-size: 14pt;
    font-weight: 300;
    text-align: center;
}

.THIS .nav-item {text-align: center; margin-left: 30px; display: inline-block; padding: 20px 7px;}
.THIS .nav-item:hover{cursor: pointer; border-bottom: solid 1px #32cf00; color: #3e4954; padding-bottom: 19px;}
.THIS .nav-item.selected{border-bottom: solid 3px #32cf00; padding-bottom: 17px}
.THIS .nav-item.selected:hover{border-bottom: solid 3px #32cf00; padding-bottom: 17px; cursor: default}